---
layout: default
title: Home
---


<div class="jumbotron bg-success">
    <h1 class="display-4">Some Information Here !</h1>
    <p class="lead">醒目的地方, 最重要的信息.</p>
    <hr class="my-4">
    <p>success 背景</p>
    <a class="btn btn-primary btn-lg" href="#jumbotron" role="button">Learn more</a>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top:30px;">
    <!-- <ol class="carousel-indicators">
      {% for item in site.data.index_info.slides %}
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      {% endfor %}
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>  -->
    <div class="carousel-inner">
        {% for item in site.data.index_info.slides %}
      <div class="carousel-item {% if item.default %} active {% endif %} " style="height:550px;">
        <img class="d-block w-100 img-fluid"  src="{{ item.image }}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
                <h5>{{ item.title }}</h5>
                <p>{{ item.desc }}</p>
              </div>
      </div>
      {% endfor %}
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




   

